html, body {
    margin: 0;
    background: #000;
  }
  
  img {
    display: none;
  }
  
  
  .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
  }
  .dribbble img {
    display: block;
    height: 28px;
  }
  .twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
  }
  .twitter svg {
    width: 32px;
    height: 32px;
    fill: #1da1f2;
  }
  