canvas {
  background-color: #312;
  display: block; /* Ensure no scrollbars appear */
}
body {
  margin: 0;
  overflow: hidden;
  background: url('https://images.pexels.com/photos/396547/pexels-photo-396547.jpeg?cs=srgb&dl=pexels-francesco-ungaro-396547.jpg&fm=jpg'); /* Background image */
  background-size: cover; /* Makes sure the image covers the entire background */
}